.custom-input {
  height: 60px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
  padding: 15px 70px 15px 15px;
  transition: border-color 0.3s ease;
  box-shadow: none;
  color: inherit; /* Ensure the text color matches the inherited color */
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.custom-input:focus {
  border-color: #ff4a3b;
  outline: none; /* Remove the default focus outline */
  background-color: transparent;
  box-shadow: none;
  padding-left: 20px;

}

.custom-input:hover {
  border-color: #ff4a3b;
  outline: none; /* Remove the default focus outline */
  background-color: transparent;
  box-shadow: none;
}

.custom-input::placeholder {
  color: inherit;
  padding-left: 20px;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
