@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Animation */
@keyframes animation-gkgm2m {
  0% {
    transform: translate3d(0px, 100%, 0px);
    visibility: visible;
}

100% {
    transform: translate3d(0px, 0px, 0px);
}
}

@keyframes circle {
  0% {
    transform: rotate(0deg);
}

100% {
    transform: rotate(1turn);
}
  
}

@keyframes morphing {
  0% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

25% {
    border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
}
50% {
    border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
}
75% {
    border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;
}


}

@keyframes marquee {
    0% {
    transform: translateX(0);
}

    100% {
    transform: translateX(-50%);
}
}
.css-z1mjt4 {
    animation-duration: 1000ms;
    animation-timing-function: ease;
    /* animation-delay: 0ms; */
    animation-name: animation-gkgm2m;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-iteration-count: 1;
}
.rotate {
  animation: circle 15s linear infinite;
}

/* Masks */
 .right-image .right-image-mask {
    mask-image: url(/images/mask.png);
    -webkit-mask-image: url(/images/mask.png);
    mask-size: 100% !important;
    -webkit-mask-size: 100% !important;
    -webkit-mask-repeat: no-repeat !important;
    mask-repeat: no-repeat !important;
    max-width: 380px;
}

/* Fonts */
.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}



.italiana-regular {
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
    font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
h1, h2, h3, h4, h5, h6 {
    color: #1f1f1f;
    font-family: "Italiana";
    font-weight: 400;
}

.h2, h2 {
    font-size: calc(1.325rem + .9vw);
}
.h3, h3 {
    font-size: calc(1.3rem + .6vw);
}
*, ::after, ::before {
    box-sizing: border-box;
}
p {
    font-size: 16px;
    color: #1f1f1f;
    line-height: 1.8em;
}
p {

    margin-top: 0;
    margin-bottom: 1rem;
}
p{
    font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
ol, ul {
    padding-left: 2rem;
}

ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}
/* .ant-input */


button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}


input[type="email" i] {
    padding-block: 1px;
    padding-inline: 2px;
}

