/* Styles for h2 */
@media (max-width: 575px) {
    .about-content h2 {
        font-size: 50px;
        line-height: 60px;
    }
}

@media (min-width: 576px) and (max-width: 991px) {
    .about-content h2 {
        font-size: 80px;
        line-height: 100px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .about-content h2 {
        font-size: 100px;
        line-height: 120px;
    }
}

@media (min-width: 1200px) {
    .about-content h2 {
        font-size: 114px;
        line-height: 130px;
    }
}

/* Styles for h3 */
@media (max-width: 575px) {
    .about-content h3 {
        font-size: 25px;
        line-height: 30px;
    }
}

@media (min-width: 576px) and (max-width: 991px) {
    .about-content h3 {
        font-size: 40px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .about-content h3 {
        font-size: 50px;
        margin-bottom: 30px;
    }
}

@media (min-width: 1200px) {
    .about-content h3 {
        font-size: 60px;
        line-height: normal;
        letter-spacing: 6px;
        margin-bottom: 40px;
    }
}

/* General styles */
.about-content p {
    margin-bottom: 0;
}
@media (max-width: 991px) {
    .about-page .about-content {
        text-align: center;
    }
}