/* Basic reset for the element */
.a {

  transition: all 0.2s; /* Transition for smooth effect */
}

/* Hover state */
.a:hover {
  color: #ff4a3b;
}

/* Any additional class for hover color */
.hover-primary:hover {
  color: #ff4a3b;
}
