/* Default styling for .section-padding */
.section-padding {
    padding: 120px 0; /* Default padding */
}

/* Media queries for different viewport sizes */
@media (max-width: 991px) {
    .section-padding {
        padding: 90px 0; /* Adjusted padding for max-width 991px */
    }
}

@media (max-width: 767px) {
    .section-padding {
        padding: 80px 0; /* Adjusted padding for max-width 767px */
    }
}

@media (max-width: 575px) {
    .section-padding {
        padding: 60px 0; /* Adjusted padding for max-width 575px */
    }
}

