fix these styles
.blog-item a.read-more:hover {
    display: inline-block;
    text-align: center;
    font-family: Italiana;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 157%;
    letter-spacing: -.32px;
    color: #fff;
    position: relative;
    padding-right: 25px;
    opacity: 1;
}

.blog-item a.read-more{
    opacity: 0;
    transition: all .5s;
}

